.boxes
  box-shadow: $box-shadow
  border-radius: $radius-large
  background: $white
  .box
    box-shadow: none
    margin-bottom: 0
    border-radius: 0
    background-color: transparent
    border-bottom: 1px solid $button-border-color
    &:first-of-type
      border-top-left-radius: $radius-large
      border-top-right-radius: $radius-large
    &:last-of-type
      border-bottom-left-radius: $radius-large
      border-bottom-right-radius: $radius-large
      border-bottom: 0

