.card
  display: flex
  flex-direction: column
  height: 100%
  transition: all $easing $speed
  //&:hover
  //  box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.35)
  //  .card-image
  //    img
  //      transform: scale(1.05)

  .card-image
    figure
      overflow: hidden
      img
        transition: all $easing $speed

  .footer--pushed
    margin-top: auto
    padding: 1.5rem
    padding-top: 0

    +touch
      .level
        display: block

    +desktop-only
      .level
        display: block

    .level-left
      display: flex
      flex-direction: column
      align-items: flex-start
      .content
        margin-bottom: 0

  &.button
    width: 100%

  .flag
    position: absolute
    bottom: 0
    left: 0
    background: $primary
    color: $white
    text-transform: uppercase
    display: block
    padding: 0.25rem 1rem

  .video
    position: absolute
    bottom: 0
    right: 0
    text-transform: uppercase
    display: block
    padding: 0.25rem 1rem
