.frame
  padding: 0
  width: 100%
  max-width: 100%
  position: relative
  iframe
    background-color: $black
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &.is-1by1
    padding-top: 100%
  &.is-4by3
    padding-top: 75%
  &.is-3by2
    padding-top: 66.6666%
  &.is-16by9
    padding-top: 56.25%
  &.is-2by1
    padding-top: 50%
