.fireworks
  background-size: 150%
  background: url('/img/fireworks.jpg') no-repeat center center
  +tablet
    background-size: 125%
  +desktop
    background-size: cover

.hero
  &.is-black
    .title
      color: $text

  &-body
    &.is-halfpadding
      padding: 1.5rem
