@import "../../../../../node_modules/bulma/sass/utilities/initial-variables"

$dimensions: 16 24 32 48 64 96 128 192 256 384 448 512 640

$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(0, 0%, 96%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default

$radius-small: 2px !default
$radius: 3px !default

$primary: $red !default

$info: $blue !default
$success: $green !default
$warning: $yellow !default
$danger: $red !default

$light: $white-ter !default
$dark: $grey-darker !default

@import "../../../../../node_modules/bulma/bulma"

html,
body
  height: 100%

#root
  display: flex
  min-height: 100%

#root > div
  display: flex
  flex-direction: column
  flex-grow: 1

#page
  flex-grow: 1

.has-shadow-inset
  box-shadow: inset 0 2px 3px rgba($black, 0.1)

.has-shadow
  box-shadow: 0 2px 3px rgba($black, 0.1)

@import "section"
@import "baloon"
@import "boxes"
@import "card"
@import "footer"
@import "frame"
@import "hero"
@import "modal"
@import "pinto"
@import "usp"
