<section class="fireworks hero is-black">
    <div class="hero-body">
        <div class="container">
            <div class="columns usp">
                <div class="column">
                    <div class="box usp__box">
                        <div class="has-text-centered has-text-black">
                     <span class="icon">
                     <i class="fas fa-2x fa-check-circle"></i>
                     </span>
                            <p class="is-size-6 has-text-weight-bold">CENA A KVALITA</p>
                            <p class="usp__content">Nabízíme jen vybrané a námi vyzkoušené výrobky od osvědčených dodavatelů, a to vše za příznivou cenu</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box usp__box">
                        <div class="has-text-centered has-text-black">
                     <span class="icon">
                     <i class="fas fa-2x fa-users has-text-black"></i>
                     </span>
                            <p class="is-size-6 has-text-weight-bold">SPOKOJENÝ ZÁKAZNÍK</p>
                            <p class="usp__content">Naší prvořadou motivací je spokojený zákazník, který našich služeb opakovaně využívá a rád se k nám vrací</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box usp__box">
                        <div class="has-text-centered has-text-black">
                     <span class="icon">
                     <i class="fas fa-2x fa-award has-text-black"></i>
                     </span>
                            <p class="is-size-6 has-text-weight-bold">TRADICE</p>
                            <p class="usp__content">Prodejem zábavní pyrotechniky a realizací profesionálních ohňostrojů se úspěšně zabýváme již více než 20 let</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>