<footer class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <figure class="image is-128x128 is-pulled-right">
                        <img src="{{ asset('img/logo-inverse.png') }}" alt="RM Pyro - logo"/>
                    </figure>
                </div>
                <div class="column is-half content is-small">
                    <span class="subtitle is-6 is-uppercase">Roman Mošna</span>
                    <div>
                        Luční 499<br/>
                        385 01 Vimperk<br/>
                        IČO: 06996353<br/><br/>
                        ({{ site_phone_prefix }}) {{ site_phone }}<br/>
                        {{ site_email }}<br/>
                        {{ site }}<br/><br/>
                    </div>
                </div>
            </div>
            <div class="content has-text-centered">
                <a href="mailto:{{ site_email }}"><span class="icon"><i class="fas fa-envelope"></i></span></a>
                <a href="{{ path('ui_product_index') }}"><span class="icon"><i class="fas fa-globe"></i></span></a>
                <a href="{{ path('login') }}"><span class="icon"><i class="fas fa-key"></i></span></a>
            </div>
        </div>
    </div>
</footer>