<section class="hero is-light">
    <div class="hero-body is-halfpadding is-uppercase has-text-centered has-text-right-tablet">
        <div class="container">
            Rychlý kontakt&nbsp;&nbsp;&nbsp;
            <i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;<b>{{ site_phone }}</b>
        </div>
    </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body is-halfpadding">
        <figure class="container image is-192x192">
            <a href="{{ path('ui_product_index') }}">
                <img src="{{ asset('img/logo.png') }}" alt="RM Pyro - logo"/>
            </a>
        </figure>
    </div>
</section>
