{% extends '::base.html.twig' %}

{% block title %}
    {{ 'Přihlášení' }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="container-fluid">
                        <div class="level-item has-text-centered">
                            <figure class="image is-192x192">
                                <a href="{{ path('ui_product_index') }}">
                                    <img src="{{ asset('img/logo.png') }}" alt="{{ site_name }} - logo">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <form role="form" action="{{ path('login') }}" autocomplete="off" method="post">
                        <div class="field">
                            <input class="input" type="text" id="username" name="_username"
                                   value="{{ last_username }}" placeholder="Uživatelské jméno" required
                                   autofocus/>
                        </div>
                        <div class="field">
                            <input type="password" id="password" name="_password" class="input"
                                   placeholder="Heslo"/>
                        </div>
                        <div class="field">
                            <label class="checkbox" for="remember_me">
                                Zapamatovat přihlášení
                                <input type="checkbox" id="remember_me" name="_remember_me" />
                            </label>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit" class="button is-primary" value="Přihlásit" name="login"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if error %}
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <div class="content">
                            <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {# drop cookiebar related code #}
{% endblock %}