{% if product.isAvailable %}
    <span class="has-text-success is-uppercase is-small">skladem</span>
{% elseif not product.isAvailable and product.availability %}
    <span class="has-text-danger is-uppercase is-small">{{ product.availability }}</span>
{% else %}
    <span class="is-uppercase is-small">neznámá</span>
{% endif %}