<div class="column is-6-tablet is-4-desktop">
    <div class="card">
        <div class="card-image">
            <figure class="image is-1by1">
                <a href="{{ path('product_detail', {'slug': product.slug}) }}">
                    {% include '@UI/products/image.twig' with {'product': product} %}
                </a>
                {% if product.isNew %}
                    <span class="flag">novinka</span>
                {% endif %}
                {% if product.video %}
                    <span class="video">
                        <a href="{{ product.video }}"><i class="fab fa-youtube"></i>&nbsp;video</a>
                    </span>
                {% endif %}
            </figure>
        </div>
        <div class="card-content">
            <p class="is-size-4 has-text-danger content">
                <a href="{{ path('product_detail', {'slug': product.slug}) }}">
                    {% include '@UI/products/name.twig' with {'product': product} %}
                </a>
            </p>
            <div class="content">
                {% include '@UI/products/specs.twig' with {'product': product} %}
            </div>
            <div class="content">
                {% include '@UI/products/description.twig' with {'product': product} %}
            </div>
            {% if product.productClass %}
                <span class="content is-small is-uppercase">{{ product.productClass.description }}</span>
            {% endif %}
        </div>
        <div class="footer--pushed">
            <div class="level">
                <div class="level-left">
                    <span class="content is-small is-uppercase">Dostupnost</span>
                    {% include '@UI/products/availability.twig' with {'product': product} %}
                </div>
                <div class="level-right">
                    <span class="subtitle is-5">
                        {% include '@UI/products/price.twig' with {'product': product} %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>