<div class="section section--product-detail">
    <div class="container">
        <div class="columns">
            <div class="column is-5-tablet is-5-desktop">
                <figure class="image is-fullwidth">
                    {% include '@UI/products/image.twig' with {'product': product} %}
                </figure>
            </div>
            <div class="column is-7-tablet is-7-desktop">
                <h1 class="title">
                    {% include '@UI/products/name.twig' with {'product': product} %}
                    {% if product.isNew %}
                        <p><span class="tag is-danger is-uppercase">Novinka</span></p>
                    {% endif %}
                </h1>
                <div class="content">
                    {% include '@UI/products/description.twig' with {'product': product} %}
                </div>
                <div class="content">
                    {% include '@UI/products/specs.twig' with {'product': product} %}
                </div>
                {% if product.productClass %}
                    <span class="content is-uppercase">{{ product.productClass.description }}</span>
                {% endif %}
                <div class="level">
                    <div class="level-left">
                        {% include '@UI/products/availability.twig' with {'product': product} %}
                    </div>
                    <div class="level-right">
                            <span class="subtitle is-4">
                                {% include '@UI/products/price.twig' with {'product': product} %}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if product.video %}
        <div class="frame is-2by1">
            <iframe title='{{ product.name }} video' src="{{ product.video }}" frameborder="0"
                    allowfullscreen="allowfullscreen">
            </iframe>
        </div>
    {% endif %}
</div>