{% if product.image %}
    <img src="uploads/images/products/{{ asset(product.image) }}" alt="{{ product.name }}"/>
{% else %}
    <img src="{{ asset('img/product-placeholder.png')}}" alt="{{ product.name }}"/>
{% endif %}