<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered">
                {% for product in products %}
                    {% include '@UI/products/card.twig' with {'product': product} %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>