{% if product.shots %}
Počet výstřelů: {{ product.shots }}<br/>
{% endif %}
{% if product.totalTime %}
Délka: {{ product.totalTime|date('i:s', '+00:00 GMT') }} min<br/>
{% endif %}
{% if product.caliber %}
Ráže: {{ product.caliber }}
{% endif %}