{% extends '::base.html.twig' %}

{% block body %}

    {% include '@UI/components/header.twig' %}

    {% include '@UI/components/about.twig' %}

    {% include '@UI/products/list.twig' with {'products': products} %}

    {% include '@UI/components/footer.twig' %}

{% endblock %}
