{% extends '::base.html.twig' %}

{% block title %}
    {% include '@UI/products/name.twig' with {'product': product} %}
{% endblock %}

{% block body %}

    {% include '@UI/components/header.twig' %}

    {% include '@UI/products/detail.twig' with {'product': product} %}

    {% include '@UI/components/footer.twig' %}

{% endblock %}
